<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title mahrous
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/fontawesome-all.min.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css") 
        link(rel="stylesheet", href="css/owl.theme.default.min.css") 
        link(rel="stylesheet", href="css/home.css")
        link(rel="stylesheet", href="css/normalize.css") 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>


    body
        canvas
     
        
        header
            
            div.container-fluid
                .bars-container
                    .bars
                        i(class="fa fa-bars")
                main
                    div(class="text-center homeContent" , id='home')  
                        p  
                            | Hello, I'm 
                            span.highlight mahrous saied. <br>
                            | I'm a frontend web developer.
                    div(class="aboutContent" , id='about')
                        .container
                            .text-center
                                h1 about me
                            .row(style="justify-content:center")
                                .col-md-3.p7
                                    .left
                                        .my-pic
                                            //- img(src="images/mahrous.jpg", alt="")
                                        h2 mahrous saeed hemaid
                                .col-md-7.col-lg-6
                                    ul(class="list-group")
                                        li(class="list-group-item") 
                                            span DOB :
                                            | 10/12/1994
                                        li(class="list-group-item") 
                                            span address :
                                            | Al Hay Al Asher, Nacr city , Cairo Egypt
                                        li(class="list-group-item") 
                                            span Marital status :
                                            |  single
                                        li(class="list-group-item") 
                                            span education : 
                                            | Bachelor Computer Science - GBA - 2.93/5
                                        li(class="list-group-item") 
                                            span experience : 
                                            | 1 year at Dawayer Studio
                                        li(class="list-group-item") 
                                            span intersts :
                                            | Football, Swimming, Chess, Travelling
                    div(class="skillsContent", id="skills") 
                        .container 
                            //- p I'm computer science 2017 graduate, Iam Frontend developer , loves javascript and any related to it, Learning every day is my task, I'm hungry to gain new experience every day.
                            h1 skills
                            .row(style="justify-content:center") 
                                div(class="col-sm-7 ")
                                    
                                    div.pro-cont
                                        span Javascript
                                        div(class="progress")
                                            div(class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100")  90%
                                    div.pro-cont
                                        span Angular 5+
                                        div(class="progress")
                                            div(class="progress-bar bg-primary" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100")  80%  
                                    div.pro-cont
                                        span JQuery
                                        div(class="progress")
                                            div(class="progress-bar bg-danger" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100")  70%
                                    div.pro-cont
                                        span Typescript
                                        div(class="progress")
                                            div(class="progress-bar bg-info" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100")  95%
                                    div.pro-cont
                                        span Gulp.js
                                        div(class="progress")
                                            div(class="progress-bar bg-info" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100") 95%
                                    
                                
                                    div.pro-cont
                                        span PugJs
                                        div(class="progress")
                                            div(class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100")  90%
                                    div.pro-cont
                                        span Html5
                                        div(class="progress")
                                            div(class="progress-bar bg-primary" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100")  80%  
                                    div.pro-cont
                                        span Css3
                                        div(class="progress")
                                            div(class="progress-bar bg-danger" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100")  70%
                                    div.pro-cont
                                        span Git
                                        div(class="progress")
                                            div(class="progress-bar bg-info" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100")  95%
                                    div.pro-cont
                                        span API
                                        div(class="progress")
                                            div(class="progress-bar bg-info" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100")  95%
                    div(class="projectsContent", id="projects")
                        .container
                            h1 projects
                            div(class="owl-carousel owl-theme")
                                div(class="item")
                                    .project-item
                                       img(src="images/mahrous.jpg", alt="")
                                       .layout
                                            .project-info
                                                h2 project Name
                                                p pure javasctit
                                            button show details
                                div(class="item")
                                    .project-item
                                       img(src="images/mahrous.jpg", alt="")
                                       .layout
                                            .project-info
                                                h2 project Name
                                                p pure javasctit
                                            button show details
                                div(class="item")
                                    .project-item
                                       img(src="images/mahrous.jpg", alt="")
                                       .layout
                                            .project-info
                                                h2 project Name
                                                p pure javasctit
                                            button show details
                                div(class="item")
                                    .project-item
                                       img(src="images/mahrous.jpg", alt="")
                                       .layout
                                            .project-info
                                                h2 project Name
                                                p pure javasctit
                                            button show details
                            
                    div(class="contactContent" id="contact")
                        .container
                            .contactData
                                .head
                                    h1 contact me
                                .gmail
                                    span Email :
                                    | mahroussaeed10@gmail.com 
                                .phone 
                                    span Phone :
                                    | 01210074237
                                .address 
                                    span Address :
                                    | Al Hay Al Asher, Nacr city , Cairo Egypt
                                .social
                                    <i class="fab fa-linkedin"></i>
                                    <i class="fab fa-github-square"></i>
                                    <i class="fab fa-facebook-square"></i> 
        
        nav
            .image
            ul.list-unstyled
                li(class="active-link home")
                    a home
                li(class="about")
                    a about
                li(class="skills")
                    a skills
                li(class="projects")
                    a projects
                li(class="contact")
                    a contact
            .social
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-github-square"></i>
                <i class="fab fa-facebook-square"></i>   
            .shadow
        
    <script src="http://localhost:35729/livereload.js?snipver=1"></script>

    script(src="js/jquery-3.3.1.min.js")
    script(src="js/popper.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/owl.carousel.min.js")
    script(src="js/main.js")
    <script src='http://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/stats.js/r11/Stats.js'></script>
    <script  src="js/index.js"></script>
    
   
    
    

